@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden-header th {
    font-size: 0; /* Hide the text content of the header cells */
    line-height: 0; /* Remove line height to collapse space */
    padding: 0; /* Remove padding to minimize space */
    border: none; /* Remove borders to ensure no lines are visible */
}
.hidden-header th::before {
    content: "\00a0"; /* Add a non-breaking space to keep header cells in place */
    font-size: 16px; /* Adjust this value to the default font size */
    line-height: normal; /* Restore line height */
}
